// variable declaration
$fixed-gb-h: 300px;
.hero-about-img {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-head-bg {
  background-image: url(../img/about_head_bg.jpg);
  @extend .hero-about-img;
  height: 600px;
}
